* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form {
    background-color: #1e1e1e;
    border: 4px solid #333333;
    width: 50%;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    animation: glowingBox 3s infinite alternate;
}

@keyframes glowingBox {
    0% {
        box-shadow: 0 0 10px #ff6f61, 0 0 20px #ff6f61;
    }
    50% {
        box-shadow: 0 0 20px #33ff57, 0 0 30px #33ff57;
    }
    100% {
        box-shadow: 0 0 10px #3357ff, 0 0 20px #3357ff;
    }
}

.form label {
    font-weight: bold;
    color: #ffffff;
    display: block;
    margin-bottom: 0.8rem;
    font-size: 2rem;
}

/* Position Radio Buttons Styling */
.form .position {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #bbbbbb;
}

.form .position label {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.form input[type="password"],
.form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s ease;
    background: #2d2d2d; 
    color: white;
}

.form input[type="password"]:focus,
.form input[type="submit"]:focus {
    border-color: #ff6f61;
    box-shadow: 0 0 10px #ff6f61;
}

.form input[type="submit"] {
    width: 80%; 
    margin: 20px auto; 
    display: block; 
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff6f61, 0 0 30px #ff6f61;
}

.form .position input[type="radio"] {
    transition: background-color 0.3s ease;
}

@media (min-width: 521px) and (max-width: 1250px) {
    
    .form {
        width: 70%;
        padding: 1.3rem;
    }
        
    .form label {
        font-size: 1.6rem;
    }
    
    .form .position {
        width: 90%;
        margin: 0.7rem auto;
    }
    
    .form .position label {
        font-size: 1.5rem;
    }
    
    .form input[type="password"],
    .form input[type="submit"] {
        margin-bottom: 0.8rem;
        font-size: 1.4rem;
    }
        
    .form input[type="submit"] {
        font-size: 1.2rem;
    }
            
}

/* Responsive Design for Mobile View */
@media (max-width: 520px) {

    .form {
        width: 80%;
        padding: 1rem;
    }
        
    .form label {
        font-size: 1rem;
    }
    
    .form .position {
        width: 90%;
        margin: 0.5rem auto;
    }
    
    .form .position label {
        font-size: 0.8rem;
    }
    
    .form input[type="password"],
    .form input[type="submit"] {
        margin-bottom: 0.4rem;
        font-size: 0.8rem;
    }
        
    .form input[type="submit"] {
        font-size: 0.8rem;
    }
            
}
